.customRevenueIconContainer {
  position: relative;
  top: -5px;
  left: -5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.dollarSign {
  position: relative;
  z-index: 3 !important;
}

.topIcon {
  position: relative;
}

.topIcon::after {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 2px;
  scale: 0.8;
  z-index: -1;
}

.whiteBg svg {
  color: white !important;
  scale: 0.9;
}

.column {
  display: flex;
  flex-direction: column;
}

.downArrowSecondary {
  position: absolute;
  top: 10px;
  left: 0;
  filter: contrast(90%) saturate(90%);
  transform: scaleY(0.85) scaleX(0.9);
  z-index: 1 !important;
}

.rightDownPrimary {
  position: absolute;
  top: 8px;
  left: 14px;
  transform: scale(0.85);
  z-index: 1;
}
